<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posteos | Editar Post</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
    <%- include('./partials/navbar'); %>
    <form action="/posteos/<%= posteo.id %>" method="post">
        <select name="posteoId">
            <% listaDePosteos.forEach(post => { %>
                <option value="<%= posteo.id %>" <%= posteo.id === posteo.id ? 'selected' : '' %>><%= posteo.title %></option>
            <% }); %>
        </select>
        <input type="text" name="titulo" placeholder="Título" value="<%= posteo.title %>"><br>
        <textarea name="content" id="" cols="30" rows="10"><%= posteo.content %></textarea><br>
        <input type="text" name="image" id="" value="<%= posteo.image %>">
        <button>Editar post</button>
        <button><a href="/delete/<%= posteo.id %>" class="btn btn-danger">Eliminar</a></button>
    </form>
    <script src="/js/bootstrap.js"></script>
</body>
</html>