<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posteos | Editar Post</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
    <%- include('./partials/navbar'); %>
    <form action="/posteos/<%= posteo.id %>" method="post">

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Título del Post:</label>
            <input type="text" class="form-control" name="title" placeholder="Título del Post" value="<%= posteo.title %>">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Contenido del Post:</label>
            <textarea class="form-control" name="content" id="" cols="30" rows="10" placeholder="Contenido del Post"><%= posteo.content %></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">URL de la imagen para el Post:</label>
            <input type="text" class="form-control" name="image" placeholder="Pega acá la URL de la imagen!" value="<%= posteo.image %>">
        </div>
        <button><a type="button" class="btn btn-success btn-lg">Guardar</button></a>
        <button type="button" class="btn btn-danger btn-lg"><a href="/delete/<%= posteo.id %>">Eliminar</button></a>
    </form>
    <script src="/js/bootstrap.js"></script>
</body>
</html>