<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
    <%- include('./partials/navbar'); %>
    <ul>
        <% listaDePosteos.forEach((posteo) => { %>
            <img src="<%= posteo.image %>" alt="">
            <h1><%= posteo.title %></h1>
            <span><%= posteo.content %></span>
            <span><b><%= posteo.createdAt %></b></span>
            <% }); %>
        </ul>
        
        <script src="/js/bootstrap.js"></script>
</body>
</html>